@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

:focus {
  outline: 3px dotted rgba(var(--focus)); /* använder din custom färg */
  outline-offset: 4px;
}

.light {
  --background: 54, 105, 238; /*blue*/
  --container: 238, 187, 54; /*yellow*/
  --border: 0, 0, 0; /*black*/
  --text: 0, 0, 0; /*black*/
  --heading: 255, 255, 255; /*white*/
  --player: 54, 238, 95; /*green*/
  --card: 238, 54, 197; /*pink*/
  --button: 238, 54, 197; /*pink*/
  --hoveredButton: 253, 144, 229; /*lighter pink*/
  --activeButton: 54, 105, 238; /*blue*/
  --focus: 255, 255, 255; /*white*/
  --daraPink: 238, 54, 197; /*pink*/

  background: rgba(var(--background));
}

.dark {
  --background: 0, 0, 0; /*black*/
  --container: 34, 34, 34; /*dark grey / light black*/
  --border: 228, 31, 123; /*deep pink*/
  --text: 255, 255, 255; /*white*/
  --heading: 255, 255, 255; /*white*/
  --player: 133, 0, 60; /*wine*/
  --card: 133, 0, 60; /*wine*/
  --button: 255, 139, 160; /*lightpink*/
  --hoveredButton: 228, 31, 123; /*deep pink*/
  --activeButton: 54, 105, 238; /*blue*/
  --focus: 255, 255, 255; /*white*/
  --daraPink: 238, 54, 197; /*pink*/

  background: rgba(var(--background));
}
